body{
    background-color: 449a39052de6ac6678b4ccabf142a01e.jpg; 
}

nav a  {
    color: blue
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 45px;
}

img {
    width: 350px;
    height: auto;
}

h1 {
    border-style: none;
   }

h1 {
    padding-left: 450px; 
}

#vector-image {
    background-image: url(“https://www.iconfinder.com/icons/174546/donuts_icon#size=128”);
}
